input, textarea {
  background-color: transparent;
  border: none;
  margin-left: 1em;
}

.cybt-btn {
  padding: .5em 1em;
  background-color: white;
  border: 2px solid green;
  border-radius: .5em;
  color: green;
  filter: drop-shadow(3px 1px 3px rgb(0, 0, 0, .2));
  cursor: pointer;

  &:hover {
    background-color: green;
    color: white;
  }
}

.cybt-close-btn {
  position: relative;
  top: -1em;
  left: -52%;
  background-color: rgba(255, 255, 255, .8);
  border: none;
  width: .5em;
  height: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(3px 1px 3px rgb(0, 0, 0, .2));

  svg {
    color: gray;

    &:hover{
      color: black;
    }
  }

}

.cybt-box {
  background-color: #f5f5f5;
  padding-inline: 20%;

  @media screen and (max-width: 1200px)  {
    padding-inline: 15%;
  }

  @media screen and (max-width: 995px)  {
    padding-inline: 5%;
  }

  @media screen and (max-width: 770px)  {
    padding-inline: 0;
  }

  .cybt-box-wrapper {
    background-color: white;
    border: 1px solid #e1e1e1;
    filter: drop-shadow(3px 1px 3px rgb(0, 0, 0, .2));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    width: 100%;

    .cybt-box-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-block: 1em;
      width: 100%;

      @media screen and (max-width: 510px)  {
        flex-direction: column;

        .cybt-image {
          width: 100% !important;
          margin-right: 0 !important;
          margin-bottom: 1em;
        }

        .cybt-box-header-info {
          margin: 0 !important;
        }

      }

      .cybt-image {
        filter: drop-shadow(3px 1px 3px rgb(0, 0, 0, .2));
        width: 40%;
        height: fit-content;
        margin-right: 1em;
      }

      .cybt-box-header-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 1em;

        .cybt-box-header-info-title {
          filter: drop-shadow(3px 1px 3px rgb(0, 0, 0, .1));
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 1em;
          background-color: darkgreen;
          padding: 1em 2em;

          p {
            text-align: center;
            color: white;
            font-size: small;
            margin: 0;

            .--company {
              font-size: x-large;
            }

          }

        }

        .cybt-box-header-info-subtitle {
          max-width: 100%;
          width: fit-content;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          margin-top: 1em;

          .--info-type {
            margin: 0 1em;

            p {
              margin: 0;
            }

          }

          .--details {
            margin-inline: 1em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            p {
              margin: 0;
            }

          }

        }

      }

    }

    .cybt-box-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1em;
      width: 100%;

      .cybt-box-content-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-block: 1em;

        &.--signs {

          .--signs-section {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            .--sign-box {
              width: 40%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;

              img {
                width: 100%;
                border-bottom: 1px solid black;
              }

              .--sign-details {
                margin: 0;
                text-align: center;
              }

            }

          }

        }

        .--section-title {
          filter: drop-shadow(3px 1px 3px rgb(0, 0, 0, .05));
          text-align: center;
          margin: .5em;
        }

        .--text-multiples-lines {
          filter: drop-shadow(3px 1px 3px rgb(0, 0, 0, .2));
          border: 1px solid #e1e1e1;
          background-color: #e5ffe5;
          border-radius: 1em;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          margin-block: .3em;

          .--info-title {
            margin: 0;
            background-color: darkgreen;
            border-top-right-radius: 1em;
            border-top-left-radius: 1em;
            width: 100%;
            padding: .2em 0 .2em 2em;
            color: white;
            font-weight: bold;
          }

          .--info-description {
            margin: 0;
            width: 100%;
            padding: .2em 1em ;

            &.--input-section {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              padding-left: 1em;

              input[type="text"] {
                background-color: transparent;

                &:focus{
                  background-color: transparent;
                }
              }
              .--add-btn {
                background-color: transparent;
                border: none;
                margin: 0;

                &:hover {
                  color: darkgreen;
                }
              }

            }

          }
        }

        .--text-1-line {
          border: 1px solid #e1e1e1;
          background-color: #e5ffe5;
          border-radius: 1em;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          margin-block: .3em;
          filter: drop-shadow(3px 1px 3px rgb(0, 0, 0, .2));

          @media screen and (max-width: 510px) {

            .--info-title {
              width: 50% !important;
            }

            .--info-description {
              width: 50% !important;
            }

          }

          .--info-title {
            margin: 0;
            background-color: darkgreen;
            border-top-left-radius: 1em;
            border-bottom-left-radius: 1em;
            width: 40%;
            padding: .2em 0 .2em 2em;
            color: white;
            font-weight: bold;
          }

          .--info-description, select {
            margin: 0;
            background-color: transparent;
            border: none;
            border-radius: 0 1em 1em 0;
            width: 60%;
            padding: .2em .5em .2em 1em;
            appearance: none;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right 1rem center;
            background-size: 1em;

            &:focus {
              outline: none;
              border: 2px solid cornflowerblue;
            }
          }

          .--info-description, input[type="datetime-local"] {
            margin: 0;
            background-color: transparent;
            border: none;
            border-radius: 0 1em 1em 0;
            width: 60%;
            padding: .2em 0 .2em 1em;
            margin-right: -1em;

            &:focus {
              outline: none;
              border: 2px solid cornflowerblue;
            }
          }

          .--info-description, input[type="datetime-local"]::-webkit-calendar-picker-indicator{
            position: absolute;
            right: 2%;
          }

          .--info-description, input[type="text"] {
            margin: 0;
            background-color: transparent;
            border: none;
            border-radius: 0 1em 1em 0;
            width: 60%;
            padding: .2em 0 .2em 1em;

            &:focus {
              outline: none;
              border: 2px solid cornflowerblue;
            }

          }

          .--info-description, input[type="number"] {
            margin: 0;
            background-color: transparent;
            border: none;
            border-radius: 0 1em 1em 0;
            width: 60%;
            padding: .2em 0 .2em 1em;

            &:focus {
              outline: none;
              border: 2px solid cornflowerblue;
            }

          }

        }

      }
    }
  }
}
