

<div class="container mt-4">
  <div class="cybt-box">
    <div class="cybt-box-wrapper">
      <button class="cybt-close-btn" routerLink="/informe/">
        <i class="fa-solid fa-circle-xmark fa-2xl"></i>
      </button>
      <form class="cybt-box-content" (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="cybt-box-content-section --service">
          <p class="--section-title"><b>DATOS DEL SERVICIO</b></p>
          <div class="--text-1-line --type">
            <label for="tipoServicio" class="--info-title">Tipo de servicio</label>
            <select class="--info-description" type="text" class="form-contol" id="tipoServicio" name="tipoServicio" [(ngModel)]="tipo" required>
              <option value="0" selected hidden disabled>Seleccione tipo de mantenimiento</option>
              <option value="1">Preventivo</option>
              <option value="2">Correctivo</option>
              <option value="3">Hardware</option>
            </select>
          </div>
          <div class="--text-1-line --type">
            <label for="equipoTipo" class="--info-title">Tipo de equipo</label>
            <select class="--info-description" type="text" class="form-contol" id="equipoTipo" name="equipoTipo" [(ngModel)]="equipoTipo" required>
              <option value="" selected hidden disabled>Seleccione tipo de equipo</option>
              <option value="Computador">Computador</option>
              <option value="Impresora">Impresora</option>
            </select>
          </div>
          <div class="--text-1-line --type">
            <label for="fechaRetiro" class="--info-title">Fecha de retiro</label>
            <input class="--info-description" type="datetime-local" class="form-contol" id="fechaRetiro" name="fechaRetiro" [(ngModel)]="fechaRetiro" required>
          </div>
        </div>
        <div class="cybt-box-content-section --client">
          <p class="--section-title"><b>DATOS DEL CLIENTE</b></p>
          <div class="--text-1-line --type">
            <label for="cliente" class="--info-title">Cliente</label>
            <input class="--info-description" type="text" class="form-contol" id="cliente" name="cliente" [(ngModel)]="cliente" required>
          </div>
          <div class="--text-1-line --type">
            <label for="usuario" class="--info-title">Usuario</label>
            <input class="--info-description" type="text" class="form-contol" id="usuario" name="usuario" [(ngModel)]="usuario" required>
          </div>
          <div class="--text-1-line --type">
            <label for="usuarioCargo" class="--info-title">Cargo</label>
            <input class="--info-description" type="text" class="form-contol" id="usuarioCargo" name="usuarioCargo" [(ngModel)]="usuarioCargo" required>
          </div>
          <div class="--text-1-line --type">
            <label for="dependencia" class="--info-title">Dependencia</label>
            <input class="--info-description" type="text" class="form-contol" id="dependencia" name="dependencia" [(ngModel)]="dependencia" required>
          </div>
        </div>
        <div class="cybt-box-content-section --printer-details" *ngIf="equipoTipo != ''">
          <p class="--section-title"><b>DATOS DE {{equipoTipo.toUpperCase()}}</b></p>
          <div class="--text-1-line --type">
            <label for="equipoMarca" class="--info-title">Marca</label>
            <input class="--info-description" type="text" class="form-contol" id="equipoMarca" name="equipoMarca" [(ngModel)]="equipoMarca">
          </div>
          <div class="--text-1-line --type">
            <label for="equipoNombre" class="--info-title">Modelo / Referencia</label>
            <input class="--info-description" type="text" class="form-contol" id="equipoNombre" name="equipoNombre" [(ngModel)]="equipoNombre">
          </div>
          <div class="--text-1-line --type">
            <label for="equipoSerial" class="--info-title">Serial</label>
            <input class="--info-description" type="text" class="form-contol" id="equipoSerial" name="equipoSerial" [(ngModel)]="equipoSN">
          </div>
          <div class="--text-1-line --type">
            <label for="direccionIP" class="--info-title">Dirección IP</label>
            <input class="--info-description" type="text" class="form-contol" id="direccionIP" name="direccionIP" [(ngModel)]="direccionIP">
          </div>
          <div class="--text-1-line --type" *ngIf="equipoTipo == 'Impresora'">
            <label for="contadorHojas" class="--info-title">Contador de hojas</label>
            <input class="--info-description" type="number" class="form-contol" id="contadorHojas" name="contadorHojas" [(ngModel)]="contadorHojas">
          </div>
        </div>

        <div class="cybt-box-content-section --computer-details" *ngIf="equipoTipo == 'Computador'">
          <p class="--section-title"><b>DATOS DE MONITOR</b></p>
          <div class="--text-1-line --type">
            <label for="monitorMarca" class="--info-title">Marca</label>
            <input class="--info-description" type="text" class="form-contol" id="monitorMarca" name="monitorMarca" [(ngModel)]="monitorMarca">
          </div>
          <div class="--text-1-line --type">
            <label for="monitorNombre" class="--info-title">Modelo / Referencia</label>
            <input class="--info-description" type="text" class="form-contol" id="monitorNombre" name="monitorNombre" [(ngModel)]="monitorNombre">
          </div>
          <div class="--text-1-line --type">
            <label for="monitorSerial" class="--info-title">Serial</label>
            <input class="--info-description" type="text" class="form-contol" id="monitorSerial" name="monitorSerial" [(ngModel)]="monitorSN">
          </div>
        </div>
        <div class="cybt-box-content-section --computer-details" *ngIf="equipoTipo == 'Computador'">
          <p class="--section-title"><b>DATOS DE TECLADO</b></p>
          <div class="--text-1-line --type">
            <label for="tecladoMarca" class="--info-title">Marca</label>
            <input class="--info-description" type="text" class="form-contol" id="tecladoMarca" name="tecladoMarca" [(ngModel)]="tecladoMarca">
          </div>
          <div class="--text-1-line --type">
            <label for="tecladoNombre" class="--info-title">Modelo / Referencia</label>
            <input class="--info-description" type="text" class="form-contol" id="tecladoNombre" name="tecladoNombre" [(ngModel)]="tecladoNombre">
          </div>
          <div class="--text-1-line --type">
            <label for="tecladoSerial" class="--info-title">Serial</label>
            <input class="--info-description" type="text" class="form-contol" id="tecladoSerial" name="tecladoSerial" [(ngModel)]="tecladoSN">
          </div>
        </div>
        <div class="cybt-box-content-section --computer-details" *ngIf="equipoTipo == 'Computador'">
          <p class="--section-title"><b>DATOS DE MOUSE</b></p>
          <div class="--text-1-line --type">
            <label for="mouseMarca" class="--info-title">Marca</label>
            <input class="--info-description" type="text" class="form-contol" id="mouseMarca" name="mouseMarca" [(ngModel)]="mouseMarca">
          </div>
          <div class="--text-1-line --type">
            <label for="mouseNombre" class="--info-title">Modelo / Referencia</label>
            <input class="--info-description" type="text" class="form-contol" id="mouseNombre" name="mouseNombre" [(ngModel)]="mouseNombre">
          </div>
          <div class="--text-1-line --type">
            <label for="mouseSerial" class="--info-title">Serial</label>
            <input class="--info-description" type="text" class="form-contol" id="mouseSerial" name="mouseSerial" [(ngModel)]="mouseSN">
          </div>
        </div>


        <div class="cybt-box-content-section --activity">
          <p class="--section-title"><b>DETALLES DE SERVICIO</b></p>
          <div class="--text-multiples-lines --type">
            <p class="--info-title">Actividades realizadas</p>
            <p class="--info-description" *ngFor="let detalle of servicioDetalleList"><i class="fa-solid fa-check"></i>&nbsp;&nbsp;{{detalle}}</p>
            <div class="--info-description --input-section">
              <input type="text" class="--info-description form-control" name="actividades" id="actividades" [(ngModel)]="servicioDetalleInput">
              <button class="cybt-btn --add-btn" type="button" (click)="addDetalle()">
                <i class="fa-solid fa-circle-check fa-lg"></i>
              </button>
            </div>
<!--            <textarea class="&#45;&#45;info-description" type="text" class="form-contol" id="actividades" name="actividades" [(ngModel)]="servicioDetalleList"></textarea>-->
          </div>
          <div class="--text-multiples-lines --type">
            <p class="--info-title">Observaciones</p>
            <p class="--info-description" *ngFor="let observacion of observacionesList"><i class="fa-solid fa-check"></i>&nbsp;&nbsp;{{observacion}}</p>
            <div class="--info-description --input-section">
              <input type="text" class="--info-description form-control" name="observaciones" id="observaciones" [(ngModel)]="observacionesInput">
              <button class="cybt-btn --add-btn" type="button" (click)="addObservacion()">
                <i class="fa-solid fa-circle-check fa-lg"></i>
              </button>
            </div>
<!--            <textarea class="&#45;&#45;info-description" type="text" class="form-contol" id="observaciones" name="observaciones" [(ngModel)]="observacionesList"></textarea>-->
          </div>
        </div>
        <div class="cybt-box-content-section --delivery">
          <p class="--section-title"><b>DETALLES DE ENTREGA</b></p>
          <div class="--text-1-line --type">
            <label for="fechaEntrega" class="--info-title">Fecha de entrega</label>
            <input class="--info-description" type="datetime-local" class="form-contol" id="fechaEntrega" name="fechaEntrega" [(ngModel)]="fechaRecibe">
          </div>
          <div class="--text-1-line --type">
            <label for="recibe" class="--info-title">Entregado a</label>
            <input class="--info-description" type="text" class="form-contol" id="recibe" name="recibe" [(ngModel)]="recibe">
          </div>
          <div class="--text-1-line --type">
            <label for="recibeCargo" class="--info-title">Cargo</label>
            <input class="--info-description" type="text" class="form-contol" id="recibeCargo" name="recibeCargo" [(ngModel)]="recibeCargo">
          </div>
        </div>
        <button type="submit" class="cybt-btn" >
          <i class="fa-solid fa-circle-check"></i>&nbsp;&nbsp;Generar
        </button>
      </form>
    </div>
  </div>
</div>
