<app-navbar
  *ngIf="isLoggedin"
  [usuario]="userLogged"
></app-navbar>
<router-outlet *ngIf="isLoggedin"></router-outlet>
<footer *ngIf="isLoggedin">
  <div class="footer">
    <p> © Copyright 2022. Cybertronica O.E. LTDA</p>
    <p>Powered by Diego A. Hernadez</p>
  </div>

</footer>


<div class="cybt-bg" *ngIf="!isLoggedin"></div>
<div class="cybt-bg-box" *ngIf="!isLoggedin">
  <div class="cybt-floating-box">
    <div class="--content">
      <img [src]="logo" alt="" class="--logo">
      <p class="--title" *ngIf="showingComponent === 'login'">
        BIENVENIDO A CYBERTRONICA O.E.
      </p>
      <p class="--title" *ngIf="showingComponent === 'register'">
        COMPLETA LOS DATOS DE REGISTRO
      </p>
      <div class="--login-action" *ngIf="showingComponent === 'login'">
        <button type="button" id="login-button" class="--login-btn"></button>
      </div>
      <form
        class="--register-form"
        (ngSubmit)="register()"
        novalidate #f="ngForm"
        *ngIf="showingComponent === 'register'"
      >
        <label for="nombre" class="--form-label">Nombre</label>
        <input type="text" id="nombre" name="nombre" class="--form-input" [(ngModel)]="userNombre" required />
        <label for="apellido" class="--form-label">Apellido</label>
        <input type="text" id="apellido" name="apellido" class="--form-input" [(ngModel)]="userApellido" required />
        <label for="dependencia" class="--form-label">Dependencia</label>
        <input type="text" id="dependencia" name="dependencia" class="--form-input" [(ngModel)]="userArea" required />
        <label for="cargo" class="--form-label">Cargo</label>
        <input type="text" id="cargo" name="cargo" class="--form-input" [(ngModel)]="userCargo" required />
        <label for="telefono" class="--form-label">Telefono</label>
        <input type="number" id="telefono" name="telefono" class="--form-input" [(ngModel)]="userTelefono" required />

        <button type="submit" class="cybt-btn" [disabled]="!f.valid">
          REGISTRARSE
        </button>

      </form>
    </div>
  </div>
</div>
